.gitignore
*.o
*.mod
resources/*
matlab/fort.6
.vs/NUMmodel/xs/UserPrefs.xml
.vscode/launch.json
.vscode/tasks.json
Fortran/.DS_Store
Fortran/f_calcderivatives__genmod.f90
Fortran/f_getfunctions__genmod.f90
Fortran/f_getrates__genmod.f90
Fortran/f_setupgeneralistsonly__genmod.f90
Fortran/makefile copy
Fortran/myconfig.cnf
Fortran/NUMmodel
Fortran/NUMmodel_matlab.so
Fortran/NUMmodel_R.so
Fortran/server.csr
Fortran/server.key
matlab/.DS_Store
matlab/calcPicoNanoMicroRate.asv
matlab/compareEulerAndMatlab.m
matlab/deriv.m
matlab/setupGeneralists_csp.m
matlab/test.m
matlab/tmp_generalistsdiatoms_simple.mat
matlab/tmp.m
matlab/tmp.mat
matlab/watercolumns.pdf
matlab/ModelResults/*
Fortran/diatoms_ke.f90
.DS_Store
Fortran/a.out
Fortran/debug.out
Fortran/module spec.f90
matlab/debug.out
matlab/Global.mp4
.Rproj.user
CMakeFiles/*
Fortran/CMakeFiles/*
cmake_install.cmake
CMakeCache.txt
Fortran/cmake_install.cmake
Fortran/Makefile
lib
Makefile
*.cmake
cmake_install.cmake
CMakeCache.txt
CMakeFiles/
Fortran/cmake_install.cmake
Fortran/CMakeFiles/
CMakeFiles
cmake_install.cmake
CMakeCache.txt
Fortran/cmake_install_cmake
Fortran/libNUMmodel.so
Fortran/libNUMmodel_matlab.so
Fortran/libNUMmodel_R.so
Fortran/Makefile
install_manifest.txt
lib/libNUMmodel_matlab.so
lib/libNUMmodel_R.so
Makefile
Fortran/errorfile.txt
TMs/
