.gitignore
*.o
*.mod
resources/*
matlab/fort.6
.vs/NUMmodel/xs/UserPrefs.xml
.vscode/launch.json
.vscode/tasks.json
Fortran/.DS_Store
Fortran/f_calcderivatives__genmod.f90
Fortran/f_getfunctions__genmod.f90
Fortran/f_getrates__genmod.f90
Fortran/f_setupgeneralistsonly__genmod.f90
Fortran/makefile copy
Fortran/myconfig.cnf
Fortran/NUMmodel
Fortran/NUMmodel_matlab.so
Fortran/NUMmodel_R.so
Fortran/server.csr
Fortran/server.key
matlab/.DS_Store
matlab/calcPicoNanoMicroRate.asv
matlab/compareEulerAndMatlab.m
matlab/deriv.m
matlab/setupGeneralists_csp.m
matlab/test.m
matlab/tmp_generalistsdiatoms_simple.mat
matlab/tmp.m
matlab/tmp.mat
matlab/watercolumns.pdf
Fortran/diatoms_ke.f90
.DS_Store
Fortran/a.out
Fortran/debug.out
Fortran/module spec.f90
matlab/debug.out
matlab/Global.mp4
.Rproj.user
CMakeFiles/*
Fortran/CMakeFiles/*
cmake_install.cmake
CMakeCache.txt
Fortran/cmake_install.cmake
Fortran/Makefile
lib
Makefile
*.cmake
cmake_install.cmake
CMakeCache.txt
CMakeFiles/3.26.4/CMakeDetermineCompilerABI_Fortran.bin
CMakeFiles/3.26.4/CMakeFortranCompiler.cmake
CMakeFiles/3.26.4/CMakeSystem.cmake
CMakeFiles/3.26.4/CompilerIdFortran/a.out
CMakeFiles/3.26.4/CompilerIdFortran/CMakeFortranCompilerId.F
CMakeFiles/cmake.check_cache
CMakeFiles/CMakeConfigureLog.yaml
CMakeFiles/CMakeDirectoryInformation.cmake
CMakeFiles/Makefile.cmake
CMakeFiles/Makefile2
CMakeFiles/progress.marks
CMakeFiles/TargetDirectories.txt
Fortran/cmake_install.cmake
Fortran/CMakeFiles/CMakeDirectoryInformation.cmake
Fortran/CMakeFiles/NUMmodel.dir/build.make
Fortran/CMakeFiles/NUMmodel.dir/cmake_clean.cmake
Fortran/CMakeFiles/NUMmodel.dir/cmake_clean_Fortran.cmake
Fortran/CMakeFiles/NUMmodel.dir/compiler_depend.make
Fortran/CMakeFiles/NUMmodel.dir/compiler_depend.ts
Fortran/CMakeFiles/NUMmodel.dir/copepods.f90.o.provides.build
Fortran/CMakeFiles/NUMmodel.dir/copepods.mod.stamp
Fortran/CMakeFiles/NUMmodel.dir/depend.internal
Fortran/CMakeFiles/NUMmodel.dir/depend.make
Fortran/CMakeFiles/NUMmodel.dir/DependInfo.cmake
Fortran/CMakeFiles/NUMmodel.dir/diatoms.f90.o.provides.build
Fortran/CMakeFiles/NUMmodel.dir/diatoms.mod.stamp
Fortran/CMakeFiles/NUMmodel.dir/diatoms_simple.f90.o.provides.build
Fortran/CMakeFiles/NUMmodel.dir/diatoms_simple.mod.stamp
Fortran/CMakeFiles/NUMmodel.dir/flags.make
Fortran/CMakeFiles/NUMmodel.dir/fortran.internal
Fortran/CMakeFiles/NUMmodel.dir/generalists.f90.o.provides.build
Fortran/CMakeFiles/NUMmodel.dir/generalists.mod.stamp
Fortran/CMakeFiles/NUMmodel.dir/generalists_simple.f90.o.provides.build
Fortran/CMakeFiles/NUMmodel.dir/generalists_simple.mod.stamp
Fortran/CMakeFiles/NUMmodel.dir/globals.f90.o.provides.build
Fortran/CMakeFiles/NUMmodel.dir/globals.mod.stamp
Fortran/CMakeFiles/NUMmodel.dir/link.txt
Fortran/CMakeFiles/NUMmodel.dir/NUMmodel.f90.o.provides.build
Fortran/CMakeFiles/NUMmodel.dir/nummodel.mod.stamp
Fortran/CMakeFiles/NUMmodel.dir/POM.f90.o.provides.build
Fortran/CMakeFiles/NUMmodel.dir/pom.mod.stamp
Fortran/CMakeFiles/NUMmodel.dir/progress.make
Fortran/CMakeFiles/NUMmodel.dir/read_input.f90.o.provides.build
Fortran/CMakeFiles/NUMmodel.dir/read_input2.f90.o.provides.build
Fortran/CMakeFiles/NUMmodel.dir/read_input_module.mod.stamp
Fortran/CMakeFiles/NUMmodel.dir/read_input_module2.mod.stamp
Fortran/CMakeFiles/NUMmodel.dir/spectrum.f90.o.provides.build
Fortran/CMakeFiles/NUMmodel.dir/spectrum.mod.stamp
Fortran/CMakeFiles/NUMmodel_matlab.dir/build.make
Fortran/CMakeFiles/NUMmodel_matlab.dir/cmake_clean.cmake
Fortran/CMakeFiles/NUMmodel_matlab.dir/cmake_clean_Fortran.cmake
Fortran/CMakeFiles/NUMmodel_matlab.dir/compiler_depend.make
Fortran/CMakeFiles/NUMmodel_matlab.dir/compiler_depend.ts
Fortran/CMakeFiles/NUMmodel_matlab.dir/depend.internal
Fortran/CMakeFiles/NUMmodel_matlab.dir/depend.make
Fortran/CMakeFiles/NUMmodel_matlab.dir/DependInfo.cmake
Fortran/CMakeFiles/NUMmodel_matlab.dir/flags.make
Fortran/CMakeFiles/NUMmodel_matlab.dir/fortran.internal
Fortran/CMakeFiles/NUMmodel_matlab.dir/link.txt
Fortran/CMakeFiles/NUMmodel_matlab.dir/nummodel_wrap.mod.stamp
Fortran/CMakeFiles/NUMmodel_matlab.dir/NUMmodel_wrap_colmajor.f90.o.provides.build
Fortran/CMakeFiles/NUMmodel_matlab.dir/progress.make
Fortran/CMakeFiles/NUMmodel_R.dir/build.make
Fortran/CMakeFiles/NUMmodel_R.dir/cmake_clean.cmake
Fortran/CMakeFiles/NUMmodel_R.dir/compiler_depend.make
Fortran/CMakeFiles/NUMmodel_R.dir/compiler_depend.ts
Fortran/CMakeFiles/NUMmodel_R.dir/depend.internal
Fortran/CMakeFiles/NUMmodel_R.dir/depend.make
Fortran/CMakeFiles/NUMmodel_R.dir/DependInfo.cmake
Fortran/CMakeFiles/NUMmodel_R.dir/flags.make
Fortran/CMakeFiles/NUMmodel_R.dir/fortran.internal
Fortran/CMakeFiles/NUMmodel_R.dir/link.txt
Fortran/CMakeFiles/NUMmodel_R.dir/progress.make
Fortran/CMakeFiles/NUMmodeltest.dir/build.make
Fortran/CMakeFiles/NUMmodeltest.dir/cmake_clean.cmake
Fortran/CMakeFiles/NUMmodeltest.dir/compiler_depend.make
Fortran/CMakeFiles/NUMmodeltest.dir/compiler_depend.ts
Fortran/CMakeFiles/NUMmodeltest.dir/depend.internal
Fortran/CMakeFiles/NUMmodeltest.dir/depend.make
Fortran/CMakeFiles/NUMmodeltest.dir/DependInfo.cmake
Fortran/CMakeFiles/NUMmodeltest.dir/flags.make
Fortran/CMakeFiles/NUMmodeltest.dir/fortran.internal
Fortran/CMakeFiles/NUMmodeltest.dir/link.txt
Fortran/CMakeFiles/NUMmodeltest.dir/progress.make
Fortran/CMakeFiles/progress.marks
Fortran/libNUMmodel.so
Fortran/libNUMmodel_matlab.so
Fortran/libNUMmodel_R.so
Fortran/NUMmodeltest
install_manifest.txt
lib/libNUMmodel_matlab.so
lib/libNUMmodel_R.so
lib/libNUMmodel_matlab.so
lib/libNUMmodel_R.so
*.so
*.mat
matlab/sim.mat
*.mat
matlab/sim.mat
