.Rproj.user
.Rhistory
.RData
.Ruserdata
Generalized size.docx
Lstar.nb
rates1.pdf
Julia
A minimal size-based model of unicellular plankton alias
AF.pdf
AL.pdf
AN.pdf
Assorted calculations.nb
DOC uptake notes for minimal size.docx
Functions.pdf
Flux-balance formulation.nb
Mumax.pdf
Note on optimal model.docx
Rstar.pdf
VaryLightAndDiffusion.pdf
abstract.docx
rates2.pdf
spectrum1.pdf
spectrum2.pdf
.DS_Store
BacterialGenerationTime.pdf
DOC.pdf
FunctionsEdited.pdf
GridPreference.pdf
Gridtest.pdf
HTL.pdf
SheldonComparison.pdf
Strategies.pdf
StrategiesEdited.pdf
Temperature.pdf
aF.pdf
aL.pdf
aN.pdf
globalbiomass.pdf
globalfunctions.pdf
simEutro.pdf
simEutroEdited.pdf
simOligo.pdf
simOligoEdited.pdf
watercolumn1.pdf
watercolumn2.pdf
